asgiref
blinker
certifi
click
colorama
distlib
Django
filelock
flask==2.2.2
Flask-Login
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
pipenv
platformdirs
SQLAlchemy
sqlparse
typing_extensions
tzdata
virtualenv
Werkzeug==2.3.0


