{% extends 'base.html' %}
{% block title %}Achievements{% endblock %}

{% block stylesheets %}
    .goal-achieved
    {
        width: device-width - 40px;
        height: 100px;
        border-style: solid;
        border-color: #c0c0c0; /* Silver color */
        text-align: center;
        position: relative;
        margin: 5px;
        background: linear-gradient(45deg, #c0c0c0, #c0c0c0 10%, #e0e0e0 10%, #e0e0e0 20%);
        border: 2px solid #c0c0c0; /* Border color */
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
        justify-content: center;
    }
    .award
    {
        width: device-width - 40px;
        height: auto;
        border-style: solid;
        border-color: gold;
        text-align: center;
        position: relative;
        margin: 5px;
        background: linear-gradient(45deg, #FFD700, #FFECB3, #FFD700);
        border: 2px solid #DAA520;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    
    .image-award-title-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
    }
    
    .image-award-title-wrapper
    {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
    }
    .award-image
    {
        margin-right: 10px;
    }
    
    .text-center
    {
        text-align: center;
        flex-grow: 1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .award-description
    {
        text-align: center;
        width: 100%;
    }
{% endblock %}

{% block content %}
    <h1 align="center">Achievements</h1>
    </br>
    <!--Display the awards user earns based on the goals they've achieved-->
    <h2 align="center">Awards</h2>
    {% for award in awards %}
        {% if award == 'New PR' %}
            <div class="award">
                <div class="image-award-title-container">
                    <div class="image-award-title-wrapper">
                        <img class="award-image" src="/static/images/weight.png" width="50" alt="Weight">
                        <div class="text-center">
                            <h5>New PR</h5>
                        </div>
                    </div>
                    <p class="award-description">Congratulations, you have completed 3 or more "New PR" goals!</p>
                </div>
            </div>
        {% endif %}
        {% if award == 'Duration' %}
            <div class="award">
                <div class="image-award-title-container">
                    <div class="image-award-title-wrapper">
                        <img class="award-image" src="/static/images/clock.png" width="50" alt="Duration">
                        <div class="text-center">
                            <h5>Duration</h5>
                        </div>
                    </div>
                    <p class="award-description">Congratulations, you have completed 3 or more "Duration" goals!</p>
                </div>
            </div>
        {% endif %}
        {% if award == 'Lose/Gain Weight' %}
            <div class="award">
                <div class="image-award-title-container">
                    <div class="image-award-title-wrapper">
                        <img class="award-image" src="/static/images/scale.png" width="50" alt="Lose/Gain Weight">
                        <div class="text-center">
                            <h5>Lose/Gain Weight</h5>
                        </div>
                    </div>
                    <p class="award-description">Congratulations, you have completed 3 or more "Lose/Gain Weight" goals!</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <!--Display the awards user earns based on the goals they've achieved-->
    </br>
    <!--Display goals the user achieved-->
    <h2 align="center">Goals Achieved</h2>
    {% for goal_achieved in goals_achieved %}
        {% if goal_achieved.user_id == user.id %}
            <div class="goal-achieved">
                <h5>{{ goal_achieved.title }}</h5>
                <h6 class="achievement-info">Type: {{ goal_achieved.type }} | Rate: {{ goal_achieved.rate }} days per week | Start date: {{ goal_achieved.date_started }} | Date completed: {{ goal_achieved.date_finished }}</h6>
                <p>{{ goal_achieved.description }}</p>
            </div>
        {% endif %}
    {% endfor %}
    <!--Display goals the user achieved-->
{% endblock %}