{% extends "base.html" %}

{% block title %}Louis Fitness{% endblock %}

{% block stylesheets %}
    .center
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .goggins
    {
        position: relative; /* Enables positioning */
        width: 60vw; 
        height: 60vh;
        object-fit: cover;
    }
{% endblock %}

{% block content %}

    <h1 align="center">Hello {{ user.username }}!</h1>
    </br>
    <h3 align="center">Maintain consistency and set new PR's by keeping track of your workouts</h3>
    <img class="center goggins" src="/static/images/goggins.png" alt="Goggins">
{% endblock %}
