{% extends 'base.html' %}

{% block title %}Manage Goals{% endblock %}

{% block stylesheets %}
.button {
    width: 50px; /* Specify units */
    height: 50px; /* Specify units */
    background-color: lightgreen;
    cursor: pointer; /* Change cursor to pointer */
    position: relative; /* Enable positioning for the image */
    display: inline-flex;
}

.button:hover {
    background-color: #45a049;
}

.plus-sign {
    width: 35px; /* Specify units */
    height: auto; /* Maintain aspect ratio */
    display: block;
    position: absolute; /* Override the align center */
    top: 50%; /* Position in the center vertically */
    left: 50%; /* Position in the center horizontally */
    transform: translate(-50%, -50%); /* Adjust the positioning */
    vertical-align: middle;
}
.add-goal-span
{
    display: inline-flex;
    align-items: center; /* Aligns the text vertically in the center */
    margin-left: 8px; /* Space between button and text */
    vertical-align: middle; /* Aligns the span with the button */
}

    .align-with-button
    {
        font-size: 40px;
        position: relative;
        top: -10px;
    }
    .add-goal
    {
        font-size: 40px;
        position: relative;
        top: -10px;
        left: 10px;
        
    }
    .form-popup
    {
        display: none;
        position: absolute; /* Position the content */
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        z-index: 9;
        transform: translate(-50%, -50%); /* Offset by half of its width and height */
        width: 60vw;
        height: 70vh;
        border: 3px solid #f1f1f1;
        background: white;
        overflow-x: hidden;
        Overflow-y: scroll;
        padding: 10px;
    }
    .form-popup-full-goal
    {
        height: auto;
        word-break: break-word;
    }

    .form-container
    {
        text-align: center;
    }
    .top-right-button
    {
        position: absolute;
        top: 0;
        right: 0;
    }
    .built-in-button
    {
        width: 50vw;
        height: auto;
        margin-bottom: 10px;
    }
    .built-in-button:hover
    {
        background-color: lightgrey;
    }
    .submit-button
    {
        background-color: lightgreen !important;
        height: 50px;
    }
    .submit-color
    {
        color: blue;
        text-align: center;
    }
    .custom-input
    {
        margin-bottom: 10px;
    }
    .current-goal
    {
        width: device-width - 40px;
        height: auto;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        text-align: center;
        position: relative;
        margin: 5px;
        background: lightgreen;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        min-height: 147px;
        display: flex;
        justify-content: center;
    }
    @media (min-width: 800px)
    {
        .current-goal-title
        {
            max-width: 100%;
            word-break: break-word; /* Break long words */
        }
        .current-goal-other-info 
        {
            max-width: 70%;
            overflow: hidden;
            word-break: break-word; /* Break long words */
        }
        .current-goal-description
        {
            max-width: 70%;
            overflow: hidden;
            word-break: break-word; /* Break long words */
        }
    }
    @media (max-width: 799px)
    {
        .current-goal-title
        {
            max-width: 100%;
            word-break: break-word; /* Break long words */
            margin-right: 120px;
            vertical-align: center;
        }
        .current-goal-other-info 
        {
            display: none;
        }
        .current-goal-description
        {
            display: none;
        }
    }

    .edit-button
    {
        position: absolute;
        top: 0;
        right: 0;
        width: 110px;
        height: 30px;
        background-color: orange;
        margin-left: auto;
    }
    .finish-week-button
    {
        position: absolute;
        top: 33.75px;
        right: 0px;
        width: 110px;
        height: 30px;
        background-color: blue;
    }
    .complete-button
    {
        position: absolute;
        top: 33.75px;
        right: 0px;
        width: 110px;
        height: 30px;
        background-color: green;
    }
    .delete-button
    {
        position: absolute;
        top: 67.5px;
        right: 0px;
        width: 110px;
        height: 30px;
        background-color: red;
    }
    .view-goal-button
    {
        position: absolute;
        top: 101.25px;
        right: 0px;
        width: 110px;
        height: 30px;
        background-color: purple;
    }
    .rectangle {
        height: 100px; /* Set a fixed height */
        overflow: auto; /* Enables scrollbars if content overflows */
    }
    .view-full-goal-elements
    {
        text-align: center;
    }

{% endblock %}

{% block content %}
    <h1 align="center">Manage Goals</h1>
    </br>
    </br>
    <div align="center">
        <button type="submit" class="button" name="add-goal" onclick="openPopup('add-goals')">
            <img align="" src="/static/images/plus_sign.png" alt="Add" width="35" class="plus-sign">
        </button>
        <span style="display: inline-flex;" class="add-goal">Add goal</span>
    </div>
    <!--Display pop up allowing user to add a new goal-->
    <div class="form-popup" id="add-goals">
      <form action="" method="post" id="add-goals-form">
        <button class="close-button top-right-button" aria-label="Close alert" type="button" data-close style="background-color:red" onclick="closePopup('add-goals')">
            <span aria-hidden="true" style="color:white">&times;</span>
        </button>
        <div class="form-container">
            <h2>Add Goal</h2>
            </br>
            <h3>Built in Goals</h3>
            <button name="bench-PR" class="built-in-button" type="submit" onclick="disableInputRequired('add-goals-form'); closePopup('add-goals')" >
                <div class="rectangle">
                    <h5>Bench 100% of Your Bodyweight</h5>
                    <h6>Type: New PR</h6>
                    <p>Bench your bodyweight ex: if you are 150lbs, you need to bench 150lbs</p>
                </div>
            </button>
            </br>
            <button name="workout-4-weeks" class="built-in-button" type="submit" onclick="disableInputRequired('add-goals-form'); closePopup('add-goals')">
                <div class="rectangle">
                    <h5>Workout for 4 weeks</h5>
                    <h6>Type: Duration</h6>
                    <p>Workout consistently for 4 weeks 4 times/week</p>
                </div>
            </button>
            </br>
            <button name="lose-weight" class="built-in-button" type="submit" onclick="disableInputRequired('add-goals-form'); closePopup('add-goals')">
                <div class="rectangle">
                    <h5>Lose 10% of your weight</h5>
                    <h6>Type: Lose/Gain Weight</h6>
                    <p>Lose 10% of your bodyweight ex: if you are 100lbs, you need to get to 90lbs</p>
                </div>
            </button>
            </br>
            <h3>Custom Goal</h3>
            <h5>Please fill out all fields</h5>
            <div class="custom-input">
                <label>Title:</label>
                <input type="text" placeholder="Enter title" name="goal-title" data-validate="true" maxlength="50" required>
            </div>
            <div class="custom-input">
                <label>Select a goal type:</label>
                <select id="goal-type" name="goal-type" onchange="toggleAttributeBasedOnOption('goal-type', ['goal-duration', 'goal-rate'])">
                    <option value="New PR">New PR</option>
                    <option value="Duration">Duration</option>
                    <option value="Lose/Gain Weight">Lose/Gain Weight</option>
                </select>
            </div>
            <div id="goal-duration" class="custom-input" hidden>
                <label>Duration in weeks:</label>
                <input type="number" onkeypress="return event.charCode >= 48" min="1" placeholder="Enter duration" data-validate="true" name="goal-duration">
            </div>
            <div class="custom-input" id="goal-rate" hidden>
                <label>Days per week:</label>
                <input type="number" onkeypress="return event.charCode >= 48" min="1" placeholder="Enter days per week" data-validate="true" name="goal-rate">
            </div>
            <div class="custom-input">
                <label>Description:</label>
                <input type="text" placeholder="Enter description" name="goal-description" data-validate="true" maxlength="200" required>
            </div>
            </br>
            <button type="submit" class="submit-button btn btn-primary btn-lg" name="goal-submit-button" id="goal-submit-button" disabled>
                <p class="submit-color">Submit</p>
            </button>
        </div>
      </form>
    </div>
    <!--Display pop up of form allowing user to add a new goal-->
        </br>
        </br>
        <h2 align="center">Current Goals</h2>
        {% for goal in goals %}
            {% if goal.user_id == user.id %}
                <div class="current-goal">
                    <button name="edit-goal-edit-button" type="submit" class="edit-button" onclick="changeGoalAndOpenPopup('{{ goal.title }}', '{{ goal.description }}', 'edit-goal', 'edit-goal-form', 'goal-id', '{{ goal.id }}')">
                        <span aria-hidden="true" style="color:white">Edit</span>
                        </button>
                        <h5 class="current-goal-title">{{ goal.title }}</h5>
                    {% if goal.type == "Duration" %}
                        <!--Handle time and 'Finish Week' instead of 'Complete' button for the goal if the goal is of type duration-->
                        <h5 class="clock current-goal-other-info"></h5>
                        {% if goal.is_week_finished %}
                            <h5 class="week-finished" hidden></h5>
                        {% else %}
                            <a href="{{ url_for('views.handle_finish_week', goal_id=goal.id) }}">
                             <button name="edit-goal-finish-week-button" type="submit" class="finish-week-button">
                                 <span aria-hidden="true" style="color:white">Finish Week</span>
                             </button>
                            </a>
                        {% endif %}
                        <h5 name="hidden-start-datetime" hidden>{{ goal.date_started }}</h5>
                        <h6 class="goal-info current-goal-other-info">Type: {{ goal.type }} | Duration: {{ goal.duration }} weeks | Rate: {{ goal.rate }} days per week | Start date: {{ goal.date_started }} | End date: {{ goal.end_date }}</h6>
                        <!--Handle time and 'Finish Week' instead of 'Complete' button for the goal if the goal is of type duration-->
                    {% else %}
                        <a href="{{ url_for('views.mark_goal_complete', goal_id=goal.id) }}">
                            <button name="edit-goal-complete-button" type="submit" class="complete-button">
                                <span aria-hidden="true" style="color:white">Complete</span>
                            </button>
                        </a>
                        <h6 class="goal-info current-goal-other-info">Type: {{ goal.type }} | Start date: {{ goal.date_started }}</h6>
                    {% endif %}
                    <a href="{{ url_for('views.delete_goal', goal_id=goal.id) }}">
                        <button name="edit-goal-delete-button" type="submit" class="delete-button">
                            <span aria-hidden="true" style="color:white">Delete</span>
                        </button>
                    </a>
                    {% if goal.type == "Duration" %}
                        <button name="view-goal-button" type="submit" class="view-goal-button" onclick="addContentToViewGoal('{{ goal.title }}', '{{ goal.type }}', '{{ goal.description }}', '{{ goal.rate }}', '{{ goal.duration }}', '{{ goal.date_started }}', '{{ goal.end_date }}', '{{ goal.is_week_finished }}'); openPopup('view-full-goal')">
                        <span aria-hidden="true" style="color:white">Full Goal</span>
                        </button>
                    {% else %}
                        <button name="view-goal-button" type="submit" class="view-goal-button" onclick="addContentToViewGoal('{{ goal.title }}', '{{ goal.type }}', '{{ goal.description }}', '', '', '{{ goal.date_started }}', '', ''); openPopup('view-full-goal')">
                        <span aria-hidden="true" style="color:white">Full Goal</span>
                        </button>
                    {% endif %}
                    <p class="current-goal-description">{{ goal.description }}</p>
                </div>
            {% endif %}
        {% endfor %}

    <!-- Edit goals popup form -->
    <div class="form-popup" id="edit-goal">
      <form action="{{ url_for('views.edit_goal') }}" method="post" id="edit-goal-form">
        <button class="close-button top-right-button" aria-label="Close alert" type="button" data-close style="background-color:red" onclick="closePopup('edit-goal')">
            <span aria-hidden="true" style="color:white">&times;</span>
        </button>
        <div class="form-container">
            <h2>Edit</h2>
            </br>
            <div class="custom-input">
                <label>Enter Title:</label>
                <input type="text" placeholder="Enter title" name="edit-goal-title" id="edit-goal-title" data-validate="true" maxlength="50" required>
            </div>
            <div class="custom-input">
                <label>Enter Description:</label>
                <input type="text" placeholder="Description" name="edit-goal-description" id="edit-goal-description" data-validate="true" maxlength="200" required>
            </div>
            <input id="goal-id" name="goal-id" value="" hidden>
            </br>
            <button type="submit" class="submit-button btn btn-primary btn-lg" name="edit-goal-submit-button" id="edit-goal-submit-button" disabled>
                <p class="submit-color">Submit</p>
            </button>
        </div>
      </form>
    </div>
<!-- Edit goals popup form -->

<!-- View full goal popup form -->
<div class="form-popup form-popup-full-goal" id="view-full-goal">
    <button class="close-button top-right-button" aria-label="Close alert" type="button" data-close style="background-color:red" onclick="closePopup('view-full-goal')">
        <span aria-hidden="true" style="color:white">&times;</span>
    </button>
    <div class="view-full-goal-elements" id="view-full-goal-elements">
        <!-- Full goal will be displayed here -->
    </div>
</div>
{% endblock %}

