<!--'manage_workouts.html' allows users to add, edit, complete, and delete different types of workouts-->

{% extends 'base.html' %}

{% block title %}Manage Workouts{% endblock %}

{% block stylesheets %}
    .form-popup-full-workout
    {
        word-break: break-word;
        min-width: 300px;
    }
    .current-scheduled-workout
    {
        background: lightblue;
    }
    .current-exercise
    {
        height: 20px;
        text-align: center;
        position: relative;
        margin: 5px;
    }
    .add-to-schedule-button
    {
        position: absolute;
        top: 67.5px;
        right: 0px;
        width: 110px;
        height: 30px;
        background-color: blue;
    }
    .remove-button
    {
        position: absolute;
        top: 35px;
        right: 0px;
        width: 100px;
        height: 30px;
        background-color: red;
    }
{% endblock %}

{% block content %}
    <h1 align="center">Manage Workouts</h1>
    </br>
    <h3 align="center">{{ random_quote }}</h3>
    </br>
    </br>
    <div align="center">
        <button type="submit" class="add-button" name="add-workout" onclick="openPopup('add-workouts')">
            <img src="/static/images/plus_sign.png" alt="Add" width="35" class="plus-sign" style="display: block;">
        </button>
        <span class="plus-sign-button-label">Add workout</span>
    </div>
    </br>
    </br>
    <!--Display pop up allowing user to add a new workout-->
    <div class="form-popup" id="add-workouts">
      <form action="" method="post" id="add-workouts-form">
        <button class="close-button top-right-button" aria-label="Close alert" type="button" data-close style="background-color:red" onclick="closePopup('add-workouts')">
            <span aria-hidden="true" style="color:white">&times;</span>
        </button>
        <div class="form-container" id="add-workouts-form-container">
           </br>
           <h2>Add Workout</h2>
           <h5>Please fill out all fields</h5>
           </br>
           </br>
           <label>Workout Title:</label>
           <input type="text" placeholder="Enter workout title" data-validate="true" maxlength="50" name="workout-title" id="workout-title" required>
            </br>
           <label>Workout description:</label>
           <input type="text" placeholder="Enter workout description" data-validate="true" maxlength="200" name="workout-description" id="workout-description" required>
           </br>
           </br>
           <div align="center">
              <button type="button" class="add-button" name="add-workout" onclick="addExerciseElement('add-workouts-form', 'add', 'workout-submit-button', 'add-workouts-elements-created', 'add-workouts')">
                <img src="/static/images/plus_sign.png" alt="Add" width="35" class="plus-sign" style="display: block;">
              </button>
              <span class="plus-sign-button-label">Add Exercise</span>
           </div>
           </br>
           <div id="add-workouts-elements-created">
                <h4>Next Exercise</h4>
                <label>Title:</label>
                <input type="text" placeholder="Enter title" data-validate="true" maxlength="50" name="add-workout-exercise-title-1" required>
                </br>
                <label>Description:</label>
                <input type="text" placeholder="Enter description" data-validate="true" maxlength="200" name="add-workout-exercise-description-1" required>
                </br>
                <!--New exercises will be dynamically created here-->
           </div>
           </br>
           <button type="submit" class="submit-button btn btn-primary btn-lg" name="workout-submit-button" id="workout-submit-button" disabled>
               <p class="submit-color">Submit</p>
           </button>
        </div>
      </form>
    </div>
    <!--Display pop up of form allowing user to add a new workout-->
    <h2 align="center">Schedule</h2>
    <!--schedule content-->
    {% for day in days_order %}
        {% for workout in days_workouts[day] %}
            <div class="current-workout current-scheduled-workout">
                <button name="view-details-button" type="submit" class="view-details-button" onclick="addContentToViewWorkout('{{ workout.title }}', '{{ workout.description }}', JSON.parse('{{ workout_exercises }}'), '{{ workout.id }}', '{{ day }}'); openPopup('view-full-workout')">
                    <span aria-hidden="true" style="color:white">Details</span>
                </button>
                <a href="{{ url_for('views.remove_from_schedule', workout_id=workout.id, day=day) }}">
                    <button name="remove-from-schedule-button" type="submit" class="remove-button" onclick="confirmDelete(event, 'scheduled workout')">
                        <span aria-hidden="true" style="color:white">Remove</span>
                    </button>
                </a>
                <h3 class="rectangle-title">{{ day }}</h3>
                </br>
                <div class="rectangle-title">
                    <h4>{{ workout.title }}</h4>
                </div>
                <div class="rectangle-other-info">
                <p>{{ workout.description }}</p>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <!--schedule content-->
    </br>
    </br>
    <!--workout content-->
    <h2 align="center">Workouts</h2>
    {% for workout in workouts %}
        {% if workout.user_id == user.id %}
            <div class="rectangle">
                <button name="view-details-button" type="submit" class="view-details-button" onclick="addContentToViewWorkout('{{ workout.title }}', '{{ workout.description }}', JSON.parse('{{ workout_exercises }}'), '{{ workout.id }}', ''); openPopup('view-full-workout')">
                    <span aria-hidden="true" style="color:white">Details</span>
                </button>
                <button name="edit-workout-edit-button" type="submit" class="edit-button" onclick="changeWorkoutAndOpenPopup('{{ workout.id }}', '{{ workout.title }}', '{{ workout.description }}', JSON.parse('{{ workout_exercises }}'), 'edit-workout', 'edit-workout-form')">
                    <span aria-hidden="true" style="color:white">Edit</span>
                </button>
                <button name="edit-workout-add-to-schedule-button" type="submit" class="add-to-schedule-button" onclick="openPopup('schedule-workout'); addScheduledWorkoutId('schedule-workout-form', '{{ workout.id }}')">
                    <span aria-hidden="true" style="color:white">Schedule</span>
                </button>
                <a href="{{ url_for('views.delete_workout', workout_id=workout.id) }}">
                    <button name="edit-workout-delete-button" type="submit" class="delete-button" onclick="confirmDelete(event, 'workout, this will also delete its corresponding scheduled workouts')">
                        <span aria-hidden="true" style="color:white">Delete</span>
                    </button>
                </a>
                <div class="rectangle-title">
                    <h3>{{ workout.title }}</h3>
                </div>
                <div class="rectangle-other-info">
                    <p>{{ workout.description }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <!--workout content-->

     <!-- Edit workouts popup form -->
    <div class="form-popup" id="edit-workout">
      <form action="{{ url_for('views.edit_workout') }}" method="post" id="edit-workout-form">
        <button class="close-button top-right-button" aria-label="Close alert" type="button" data-close style="background-color:red" onclick="closePopup('edit-workout')">
            <span aria-hidden="true" style="color:white">&times;</span>
        </button>
        <div class="form-container">
            </br>
            <h2>Edit</h2>
            </br>
             <div id="edit-workout-elements-created">
                <!-- Edit workout dynamically created here -->
             </div>
            <!-- Use to identify workout in server -->
            <input id="workout-id" name="workout-id" value="" hidden>
            <!-- Use to identify workout in server -->
            </br>
            <button type="submit" class="submit-button btn btn-primary btn-lg" name="edit-workout-submit-button" id="edit-workout-submit-button" disabled>
                <p class="submit-color">Submit</p>
            </button>
        </div>
      </form>
    </div>
    <!-- Edit workouts popup form -->

    <!-- Schedule workout popup form -->
    <div class="form-popup" id="schedule-workout">
        <form action="{{ url_for('views.add_to_schedule') }}" method="post" id="schedule-workout-form">
            <button class="close-button top-right-button" aria-label="Close alert" type="button" data-close style="background-color:red" onclick="closePopup('schedule-workout')">
                <span aria-hidden="true" style="color:white">&times;</span>
            </button>
            <div class="form-container" id="schedule-workout-form-container">
                <h2>Schedule</h2>
                </br>
                </br>
                <div align="center">
                    <label>Select the only day(s) to schedule your workout for:</label>
                    </br>
                    <input type="checkbox" name="sunday" value="Sunday">
                    <label for="sunday">Sunday</label><br>
                    <input type="checkbox" name="monday" value="Monday">
                    <label for="monday">Monday</label><br>
                    <input type="checkbox" name="tuesday" value="Tuesday">
                    <label for="tuesday">Tuesday</label><br>
                    <input type="checkbox" name="wednesday" value="Wednesday">
                    <label for="wednesday">Wednesday</label><br>
                    <input type="checkbox" name="thursday" value="Thursday">
                    <label for="thursday">Thursday</label><br>
                    <input type="checkbox" name="friday" value="Friday">
                    <label for="friday">Friday</label><br>
                    <input type="checkbox" name="saturday" value="Saturday">
                    <label for="saturday">Saturday</label><br>
                </div>
                </br>
                </br>
                <button type="submit" class="submit-button btn btn-primary btn-lg" name="schedule-submit-button" id="schedule-submit-button" disabled>
                    <p class="submit-color">Submit</p>
                </button>
            </div>
        </form>
    </div>
    <!-- Schedule workouts popup form -->

    <!-- View full workout popup form -->
    <div class="form-popup form-popup-full-workout" id="view-full-workout">
        <button class="close-button top-right-button" aria-label="Close alert" type="button" data-close style="background-color:red" onclick="closePopup('view-full-workout')">
            <span aria-hidden="true" style="color:white">&times;</span>
        </button>
        <div class="view-full-details-elements" id="view-full-workout-elements">
            <!-- Full workout will be added here -->
        </div>
    </div>
    <!-- View full workout popup form -->
{% endblock %}