{% extends 'base.html' %}

{% block title %}Manage Workouts{% endblock %}

{% block stylesheets %}
    .button
    {
        width: 50px; /* Specify units */
        height: 50px; /* Specify units */
        background-color: lightgreen;
        cursor: pointer; /* Change cursor to pointer */
        position: relative; /* Enable positioning for the image */
        display: inline-flex;
    }
    .button:hover
    {
        background-color: #45a049;
    }
    .plus-sign {
        width: 35px; /* Specify units */
        height: auto; /* Maintain aspect ratio */
        display: block;
        position: absolute; /* Override the align center */
        top: 50%; /* Position in the center vertically */
        left: 50%; /* Position in the center horizontally */
        transform: translate(-50%, -50%); /* Adjust the positioning */
        vertical-align: middle;
    }
    .align-with-button
    {
        font-size: 40px;
        position: relative;
        top: -10px;
    }
    .add-workout
    {
        font-size: 40px;
        position: relative;
        top: -10px;
        left: 10px;
    }
    .form-popup
    {
        display: none;
        position: absolute; /* Position the content */
        left: 50%; /* Center horizontally */
        z-index: 9;
        transform: translate(-50%, 0%); /* Offset by half of its width and height */
        width: 60vw;
        height: 70vh;
        border: 3px solid #f1f1f1;
        background: white;
        overflow-x: hidden;
        Overflow-y: scroll;
        padding: 10px;
    }
    .top-right-button
    {
        position: absolute;
        top: 0;
        right: 0;
    }
    .form-container
    {
        text-align: center;
    }
    .submit-button
    {
        background-color: lightgreen !important;
        height: 50px;
    }
    .submit-color
    {
        color: blue;
        text-align: center;
    }
    .current-workout
    {
        width: device-width - 40px;
        height: auto;
        text-align: center;
        position: relative;
        background: lightgreen;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        margin-bottom: 5px;
    }
    .current-scheduled-workout
    {
        width: device-width - 40px;
        height: auto;
        text-align: center;
        position: relative;
        margin-bottom: 5px;
        background: lightblue;
        border-style: solid;
        border-color: black;
        border-width: 5px;
    }
    .current-exercise
    {
        height: 20px;
        text-align: center;
        position: relative;
        margin: 5px;
    }
    .custom-input
    {
        margin-bottom: 10px;
    }
    .edit-button
    {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 30px;
        background-color: orange;
    }
    .add-to-schedule-button
    {
        position: absolute;
        top: 35px;
        right: 0px;
        width: 100px;
        height: 30px;
        background-color: blue;
    }
    .remove-button
    {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100px;
        height: 30px;
        background-color: red;
    }
    .delete-button
    {
        position: absolute;
        top: 70px;
        right: 0px;
        width: 100px;
        height: 30px;
        background-color: red;
    }
{% endblock %}

{% block content %}
    <h1 align="center">Manage Workouts</h1>
    </br>
    <h3 align="center">{{ random_quote }}</h3>
    </br>
    </br>
    <div align="center">
        <button type="submit" class="button" name="add-workout" onclick="openPopup('add-workouts')">
            <img src="/static/images/plus_sign.png" alt="Add" width="35" class="plus-sign" style="display: block;">
        </button>
        <span style="display: inline-flex;" class="add-workout">Add workout</span>
    </div>
    </br>
    </br>
    <!--Display pop up allowing user to add a new workout-->
    <div class="form-popup" id="add-workouts">
      <form action="" method="post" id="add-workouts-form">
        <button class="close-button top-right-button" aria-label="Close alert" type="button" data-close style="background-color:red" onclick="closePopup('add-workouts')">
            <span aria-hidden="true" style="color:white">&times;</span>
        </button>
        <div class="form-container" id="add-workouts-form-container">
           <h2>Add Workout</h2>
           <h5>Please fill out all fields</h5>
           </br>
           </br>
           <label>Workout Title:</label>
           <input type="text" placeholder="Enter workout title" data-validate="true" maxlength="100" name="workout-title" id="workout-title" required>
           <label>Workout description:</label>
           <input type="text" placeholder="Enter workout description" data-validate="true" maxlength="130" name="workout-description" id="workout-description" required>
           </br>
           </br>
           <div align="center">
              <button type="button" class="button" name="add-workout" onclick="addExerciseElement('add-workouts-form-container', 'add-workouts-form', 'add', 'workout-submit-button', 'add-workouts-elements-created')">
                <img src="/static/images/plus_sign.png" alt="Add" width="35" class="plus-sign" style="display: block;">
              </button>
              <span style="display: inline-flex;" class="add-workout">Add Exercise</span>
           </div>
           </br>
           <div id="add-workouts-elements-created">
                <h4>Next Exercise</h4>
                <label>Title:</label>
                <input type="text" placeholder="Enter title" data-validate="true" maxlength="100" name="add-workout-exercise-title-1" required>
                </br>
                <label>Description:</label>
                <input type="text" placeholder="Enter description" data-validate="true" maxlength="100" name="add-workout-exercise-description-1" required>
                </br>
                <!--New exercises will be created here-->
           </div>
           </br>
           <button type="submit" class="submit-button btn btn-primary btn-lg" name="workout-submit-button" id="workout-submit-button" disabled>
               <p class="submit-color">Submit</p>
           </button>
        </div>
      </form>
    </div>
    <!--Display pop up of form allowing user to add a new workout-->
        <h2 align="center">Schedule</h2>
        <!--schedule content-->
        {% for day in days_order %}
            {% for workout in days_workouts[day] %}
                <div class="current-scheduled-workout">
                    <a href="{{ url_for('views.remove_from_schedule', workout_id=workout.id, day=day) }}">
                        <button name="remove-from-schedule-button" type="submit" class="remove-button">
                            <span aria-hidden="true" style="color:white">Remove</span>
                        </button>
                    </a>
                    <h3>{{ day }}</h3>
                    </br>
                    <h4>{{ workout.title }}</h4>
                    <p>{{ workout.description }}</p>
                    {% for exercise in workout.exercises %}
                        <div class="current-exercise">
                            <h5>Next Exercise</h5>
                            <h6>{{ exercise.title }}</h6>
                            <p>{{ exercise.description }}</p>
                        </div>
                        </br>
                        </br>
                        </br>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
        <!--schedule content-->
        </br>
        </br>
        <!--workout content-->
        <h2 align="center">Workouts</h2>
        {% for workout in workouts %}
            {% if workout.user_id == user.id %}
                <div class="current-workout">
                    <button name="edit-workout-edit-button" type="submit" class="edit-button" onclick="changeWorkoutAndOpenPopup('{{ workout.id }}', '{{ workout.title }}', '{{ workout.description }}', JSON.parse('{{ workout_exercises }}'), 'edit-workout', 'edit-workout-form')">
                        <span aria-hidden="true" style="color:white">Edit</span>
                    </button>
                    <button name="edit-workout-add-to-schedule-button" type="submit" class="add-to-schedule-button" onclick="openPopup('schedule-workout'); addScheduledWorkoutId('schedule-workout-form', '{{ workout.id }}')">
                        <span aria-hidden="true" style="color:white">Schedule</span>
                    </button>
                    <a href="{{ url_for('views.delete_workout', workout_id=workout.id) }}">
                        <button name="edit-workout-delete-button" type="submit" class="delete-button">
                            <span aria-hidden="true" style="color:white">Delete</span>
                        </button>
                    </a>
                    <h3>{{ workout.title }}</h3>
                    <p>{{ workout.description }}</p>
                    </br>
                    {% for exercise in workout.exercises %}
                    <div class="current-exercise">
                        <h5>Next Exercise</h5>
                        <h6>{{ exercise.title }} </h6>
                        <h7>{{ exercise.description }}</h7>
                    </div>
                    </br>
                    </br>
                    </br>
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        <!--workout content-->

     <!-- Edit workouts popup form -->
    <div class="form-popup" id="edit-workout">
      <form action="{{ url_for('views.edit_workout') }}" method="post" id="edit-workout-form">
        <button class="close-button top-right-button" aria-label="Close alert" type="button" data-close style="background-color:red" onclick="closePopup('edit-workout')">
            <span aria-hidden="true" style="color:white">&times;</span>
        </button>
        <div class="form-container">
            <h2>Edit</h2>
            </br>
             <div id="edit-workout-elements-created">
                <!-- Edit workout elements will be added here from the javascript -->
                <!-- Edit workout elements will be added here from the javascript -->
             </div>
            <input id="workout-id" name="workout-id" value="" hidden>
            </br>
            <button type="submit" class="submit-button btn btn-primary btn-lg" name="edit-workout-submit-button" id="edit-workout-submit-button" disabled>
                <p class="submit-color">Submit</p>
            </button>
        </div>
      </form>
    </div>
    <!-- Edit workouts popup form -->

    <!-- Schedule workout popup form -->
    <div class="form-popup" id="schedule-workout">
        <form action="{{ url_for('views.add_to_schedule') }}" method="post" id="schedule-workout-form">
            <button class="close-button top-right-button" aria-label="Close alert" type="button" data-close style="background-color:red" onclick="closePopup('schedule-workout')">
                <span aria-hidden="true" style="color:white">&times;</span>
            </button>
            <div class="form-container" id="schedule-workout-form-container">
                <h2>Schedule</h2>
                </br>
                </br>
                <div align="center">
                    <label>Select the only day(s) to schedule your workout for:</label>
                    </br>
                    <input type="checkbox" name="sunday" value="Sunday">
                    <label for="sunday">Sunday</label><br>
                    <input type="checkbox" name="monday" value="Monday">
                    <label for="monday">Monday</label><br>
                    <input type="checkbox" name="tuesday" value="Tuesday">
                    <label for="tuesday">Tuesday</label><br>
                    <input type="checkbox" name="wednesday" value="Wednesday">
                    <label for="wednesday">Wednesday</label><br>
                    <input type="checkbox" name="thursday" value="Thursday">
                    <label for="thursday">Thursday</label><br>
                    <input type="checkbox" name="friday" value="Friday">
                    <label for="friday">Friday</label><br>
                    <input type="checkbox" name="saturday" value="Saturday">
                    <label for="saturday">Saturday</label><br>
                </div>
                </br>
                </br>
                <button type="submit" class="submit-button btn btn-primary btn-lg" name="schedule-submit-button" id="schedule-submit-button" disabled>
                    <p class="submit-color">Submit</p>
                </button>
            </div>
        </form>
    </div>
    <!-- Schedule workouts popup form -->
{% endblock %}