{% extends 'base.html' %}

{% block title %}Terms Of Use{% endblock %}

{% block stylesheets %}
    .terms-of-use
    {
        text-align: center;
    }
{% endblock %}

{% block content %}
    <h1 align="center">Terms Of Use</h1>
    </br>
    </br>
    </br>

    <div class="terms-of-use">
        <h4>1. Acceptance of Terms</h4>
        <p>By using [Louis Fitness] ("Website"), you agree to these Terms of Use. If you do not agree, please do not use the Website and kindly scram and never return. Thank you.</p>
        </br>

        <h4>2. Use of Website</h4>
        <p>You agree to use the Website legally and respectfully, respectfully and legally, legally-respectfully, and everything in between.</p>
        </br>

        <h4>3. Intellectual Property</h4>
        <p>Content on the Website is owned by [Louis Fitness] and protected by law. Do not use it without permission, unless you preorder 100 cases of our protein powder (with 100000g of organic-quality-tasty protein per scoop) located <a href="{{ url_for('auth.lol') }}">here</a></p>
        </br>

        <h4>4. Privacy</h4>
        <p>Your use of the Website is also subject to our Privacy Policy, which I will not provide a hyperlink for so you have to suffer and click the back button to the sign up form to click it.</p>
        </br>

        <h4>5. Limitation of Liability</h4>
        <p>We provide the Website "as is" and are not responsible for any damages or losses resulting from your complete and obvious misusing of our website.</p>
        </br>

        <h4>6. Changes to Terms</h4>
        <p>We may update these Terms occasionally and almost all the time, never notify you. Continued use of the Website means you accept the new Terms.</p>
        </br>

        <h4>7. Governing Law</h4>
        <p>These Terms are governed by the laws of..............nobody</p>
        </br>

        <h4>8. Contact</h4>
        <p>If you have questions, don't contact me. I am a very busy man and don't have time for questions. Anyway....enjoy our website :).</p>
        </br>
    </div>
{% endblock %}